.login {
	height: calc(100vh - 50px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
		url('https://images.pexels.com/photos/3389536/pexels-photo-3389536.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
	background-size: cover;
}

.loginTitle {
	font-size: 50px;
}

.loginForm {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.loginForm > label {
	margin: 10px 0;
}

.loginInput {
	padding: 10px;
	background: white;
	border: none;
}

.loginButton {
	margin-top: 20px;
	cursor: pointer;
	background: lightcoral;
	border: none;
	color: white;
	border-radius: 10px;
	padding: 10px;
}

.loginRegisterButton {
	position: absolute;
	top: 60px;
	right: 20px;
	background: teal;
	cursor: pointer;
	border: none;
	padding: 10px;
	color: white;
	border-radius: 10px;
}
