.register {
	height: calc(100vh - 50px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
		url('https://images.pexels.com/photos/831507/pexels-photo-831507.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
	background-size: cover;
}

.registerTitle {
	font-size: 50px;
}

.registerForm {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.registerForm > label {
	margin: 10px 0;
}

.registerInput {
	padding: 10px;
	background: white;
	border: none;
}

.registerButton {
	margin-top: 20px;
	cursor: pointer;
	background: teal;
	border: none;
	color: white;
	border-radius: 10px;
	padding: 10px;
}

.registerLoginButton {
	position: absolute;
	top: 60px;
	right: 20px;
	background: lightcoral;
	cursor: pointer;
	border: none;
	padding: 10px;
	color: white;
	border-radius: 10px;
}
