$navy-blue: hsla(239, 94%, 19%, 1);
$star-command-blue: hsla(201, 100%, 36%, 1);
$cerulean-crayola: hsla(190, 100%, 42%, 1);
$sky-blue-crayola: hsla(189, 75%, 75%, 1);
$powder-blue: hsla(190, 77%, 88%, 1);

$indigo-dye: hsla(212, 72%, 26%, 1);
$prussian-blue: hsla(215, 66%, 22%, 1);
$oxford-blue: hsla(213, 72%, 16%, 1);
$cadet-grey: hsla(209, 32%, 66%, 1);
$mint-cream: hsla(111, 24%, 94%, 1);

$color1: #382653;
$color2: #ae66c8;
$color3: #7b7bbc;
$color4: #cea993;

// site colors
$clr-primary: hsla(213, 72%, 16%, 1);
$clr-secondary: hsla(212, 72%, 26%, 1);
$clr-muted: hsla(209, 32%, 66%, 1);
$clr-white: hsla(111, 24%, 94%, 1);

// fonts
$logo-font: 'The Nautigal', cursive;
