.about {
	width: 100%;
	height: calc(100vh - 10vh);
	display: flex;
	align-items: center;
	justify-content: center;
	// background: #efebea;

	// background: linear-gradient(to left, rgba(0, 0, 0, 0.9) 20%, rgba(0, 0, 0, 0.1));
	$opacity: 0.3;
	background: linear-gradient(rgba(0, 0, 0, $opacity), rgba(0, 0, 0, $opacity)),
		// url('../../assets/alex-perez-ioJBsYQ-pPM-unsplash.jpg') no-repeat;
		// url('../../assets/gradienta-LeG68PrXA6Y-unsplash.jpg') no-repeat;
		// url('../../assets/istockphoto-1285395672-170667a.jpg') no-repeat;
		url('../../assets/w-qjCHPZbeXCQ-unsplash.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	background-blend-mode: darken;
	// filter: grayscale(0.3) opacity(1);
	&__wrapper {
		width: 80%;
		height: 80%;
		// background: #efebea;
		border-radius: 10px;
		display: flex;
	}
	&__left {
		flex: 2;
		border-radius: 10px;
		// background: white;
		// background: #151515;
		// background: #1f1d36;
		// background: linear-gradient(#151515, #1f1d36);
		background: #171717;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		box-shadow: 10px 0 20px rgba(0, 0, 0, 0.15);
		position: relative;
		z-index: 10;

		$blur: 14px;
		backdrop-filter: blur($blur) saturate(180%);
		-webkit-backdrop-filter: blur($blur) saturate(180%);
		background-color: rgba(17, 25, 40, 0.45);
		border-radius: 12px;
		border: 1px solid rgba(255, 255, 255, 0.125);

		&__logo {
			font-size: 3rem;
			font-weight: 700;
			letter-spacing: 2px;
			font-family: 'The Nautigal';
			color: white;
			opacity: 0.87;
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		div {
			display: flex;
			flex-direction: column;
			align-items: center;
			flex: 4;
		}

		&__dev {
			width: 50%;
			aspect-ratio: 1 / 1;
			object-fit: cover;
			border-radius: 50%;
			object-position: center 20%;
			opacity: 0.8;
			// border: 3px solid;
			// border-color: white $cerulean-crayola $cerulean-crayola white;
		}
		&__name {
			font-size: 1.5rem;
			color: $cerulean-crayola;
			// color: #eebc1d;
			margin-top: 20px;
			font-family: 'Josefin Sans', sans-serif;
			opacity: 0.87;
		}
		&__desc {
			font-size: 1.1rem;
			color: white;
			opacity: 0.7;
			padding: 20px 10%;
			font-family: 'Josefin Sans', sans-serif;
			text-align: center;
			font-weight: 300;
		}
		&__button {
			width: 100%;
			display: flex;
			flex-direction: row !important;
			justify-content: center !important;

			a {
				font-family: 'Josefin Sans', sans-serif;
				// background: $cerulean-crayola;
				// border: 1px solid #fff7;
				float: right;
				font-size: 1rem;
				// border-radius: 10px;
				padding: 10px;
				color: white;
				text-decoration: none;
				transition: all 300ms ease-out;
				margin-bottom: 20px;
				&:hover {
					// color: #151515;
					color: $cerulean-crayola;
				}

				&:first-child {
					border-radius: 10px 0 0 10px;
				}
				&:last-child {
					border-radius: 0 10px 10px 0;
					transform: scale(1.05);
				}
			}
		}
	}
	&__right {
		flex: 5;
		display: flex;
		align-items: center;

		&__wrapper {
			width: 100%;
			height: 70%;
			padding: 30px;
			padding-left: 70px;
			position: relative;
			left: -40px;

			border-radius: 10px;
			backdrop-filter: blur(5px);
			box-shadow: 0 24px 45px rgba(0, 0, 0, 0.1);
			border: 1px solid rgba(255, 255, 255, 0.5);
			border-right: rgba(255, 255, 255, 0.2);
			border-bottom: rgba(255, 255, 255, 0.2);
			background: rgba(255, 255, 255, 0.1);
			border-bottom: 10px;
		}
	}
	&__title {
		font-family: 'Josefin Sans', sans-serif;
		font-size: 1.2rem;
		text-transform: uppercase;
		// font-weight: 300;
		color: $cerulean-crayola;
		color: black;
	}
	&__techs {
		width: 100%;
		margin-top: 20px;
		padding: 10px;
		// background: #efebea;
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}
	&__tech {
		width: 25%;
		display: flex;
		padding-bottom: 30px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-family: 'Josefin Sans';
		cursor: default;
		border-radius: 20px;
		transition: all 150ms ease-out;

		&:hover {
			transform: scale(1.05);
		}

		&--img {
			max-width: 50px;
		}
		&--name {
			font-size: 1.1rem;
			margin-top: 15px;
		}
		&--desc {
			font-size: 0.8rem;
			opacity: 0.87;
			margin-top: 7px;
			font-weight: 300;
			letter-spacing: 1px;
		}
	}
}

body.dark {
	.about {
		&__title {
			color: white;
			opacity: 0.87;
		}
		$opacity: 0.3;
		background: linear-gradient(rgba(0, 0, 0, $opacity), rgba(0, 0, 0, $opacity)),
			url('../../assets/alex-perez-ioJBsYQ-pPM-unsplash.jpg') no-repeat;
		// url('../../assets/gradienta-LeG68PrXA6Y-unsplash.jpg') no-repeat;
		// url('../../assets/istockphoto-1285395672-170667a.jpg') no-repeat;
		// url('../../assets/w-qjCHPZbeXCQ-unsplash.jpg') no-repeat;
		background-size: cover;
		background-position: center 80%;
	}
}
