.login {
	height: calc(100vh - 10vh);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
		url('https://images.pexels.com/photos/3389536/pexels-photo-3389536.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
	background-size: cover;
	position: relative;

	&__title {
		font-size: 50px;
	}
	&__form {
		margin-top: 20px;
		display: flex;
		flex-direction: column;

		& > label {
			margin: 10px 0;
		}
	}

	&__input {
		padding: 10px;
		background: white;
		border: none;
	}
	&__button {
		margin-top: 20px;
		cursor: pointer;
		background: lightcoral;
		border: none;
		color: white;
		border-radius: 10px;
		padding: 10px;

		&:disabled {
			cursor: not-allowed;
			background: rgb(247, 171, 171);
		}

		&--register {
			position: absolute;
			top: 30px;
			right: 20px;
			background: teal;
			cursor: pointer;
			border: none;
			padding: 10px;
			color: white;
			border-radius: 10px;
		}
	}
}
