.sidebar {
	flex: 3;
	margin: 20px;
	margin-top: 50px;
	padding-bottom: 30px;
	background-color: #fbfbfb;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;

	&__item {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		margin: 10px;
		padding: 5px;
		width: 90%;
		border-top: 1px solid #a7a4a4;
		border-bottom: 1px solid #a7a4a4;
		font-size: 12px;
		color: #222;
		font-family: 'Varela Round', sans-serif;
		font-weight: 600;
		line-height: 20px;
		text-align: center;
	}
	&__img {
		width: 80%;
		border-radius: 50%;
		aspect-ratio: 1 / 1;
		object-fit: cover;
	}

	&__name {
		margin-top: 30px;
		font-size: 1.5rem;
		// font-family: 'Varela Round', sans-serif;
		text-transform: capitalize;
	}

	&__bio {
		padding: 30px;
		padding-top: 20px;
	}

	&__admin {
		color: $cerulean-crayola;
		font-size: 0.9rem;
	}

	&__list {
		width: 75%;
		list-style: none;
		margin-bottom: 30px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		&--item {
			width: 40%;
			display: flex;
			align-items: center;
			margin-top: 15px;
			cursor: pointer;
			transition: all 150ms ease-in-out;

			&:hover {
				color: $cerulean-crayola;
			}
		}

		.category {
			display: inline;
			width: 30%;
			text-transform: capitalize;
			margin: 0 10px;
			margin-top: 15px;
			cursor: pointer;

			li {
				text-align: left;
			}
		}

		&--img {
			width: 35px;
			border-radius: 50%;
			aspect-ratio: 1 / 1;
			margin-right: 10px;
		}

		&--name {
			font-size: 1rem;
		}
	}
	&__social {
		margin-top: 15px;
		width: 250px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__icon {
		font-size: 1.5rem;
		margin: 0 20px;
		cursor: pointer;
		transition: all 150ms ease-in-out;

		&:hover {
			color: $cerulean-crayola;
			transform: scale(1.1);
		}
	}
}
