.eye {
	width: 100%;
	position: relative;

	&__input {
		width: 100%;
		padding-right: 10.5%;
	}
	&__icon {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		height: min-content;
		color: $color1;
		opacity: 0.7;
		cursor: pointer;
		padding: 10px;
		transition: all 150ms ease-in-out;

		&:hover {
			opacity: 1;
		}
	}
}
